{{ template "base" . }}
{{ define "title" }} RPS web - About {{ end }}

{{ define "content"}}

<div class="container mt-5">
    <div class="text-center">
        <h1>About Me</h1>
        <p class="mt-3">Welcome! I’m Juan, a Systems Engineering student and passionate about backend development and machine learning. Currently, I’m working on various projects, including a voice pathology detection model and a web application for managing school files.</p>
    </div>

    <div class="mt-5 text-center">
        <h3>Find me on social media:</h3>
        <ul class="list-inline mt-3">
            <li class="list-inline-item mx-3">
                <a href="https://www.linkedin.com/in/juan-esteban-acosta-l%C3%B3pez-2667601bb/" target="_blank" class="text-decoration-none">
                    <i class="bi bi-linkedin" style="font-size: 1.5rem; color: #0A66C2;"></i>
                    <span class="d-block">LinkedIn</span>
                </a>
            </li>
            <li class="list-inline-item mx-3">
                <a href="https://github.com/Wembie" target="_blank" class="text-decoration-none">
                    <i class="bi bi-github" style="font-size: 1.5rem; color: #333;"></i>
                    <span class="d-block">GitHub</span>
                </a>
            </li>
            <li class="list-inline-item mx-3">
                <a href="https://www.instagram.com/jeal__5/" target="_blank" class="text-decoration-none">
                    <i class="bi bi-instagram" style="font-size: 1.5rem; color: #E1306C;"></i>
                    <span class="d-block">Instagram</span>
                </a>
            </li>
        </ul>
    </div>
</div>

{{ end }}
