{{ template "base" .}}
{{ define "title" }} RPS web - New game {{ end }}

{{ define "content"}}

<section>
    <div class="container">
        <div class="row">
            <h2 class="text-center py-4">Put your name</h2>
            <form action="/game" method="post">
                <div class="mb-3">
                    <input type="text" required placeholder="Put your name" name="name" id="name" class="form-control">
                </div>
                <div class="d-grid gap-2 py-4">
                    <button type="submit" class="btn btn-success btn-lg">Start</button>
                </div>
            </form>
        </div>
    </div>
</section>

{{ end }}